.Navig {
    width: 100%;
    position:-webkit-sticky;
    z-index:5;
    top:0;
    background-color: hsla(30, 1%, 56%, 0);
}


.nav-icons{
    font-size:30px;
}

/* ====-------------->Banner */
.banner{

    background-color:#252B42;
}
.content{
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 1rem;
   padding: 10px;
}

@media (max-width:1000px){
    .banner{
        display: none;
    }
    .Navig{
        height:max-content;
    }
  
}