.cart{
    justify-content: space-around;
    margin-bottom: 10%;

}
.cart-left{
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title{

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    padding-top:1%;

    
}
.p{
    align-self: flex-end;
    color: rgb(70, 69, 69);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* -----> */

.cart-card{ 
    width: 100%;
    display: flex;
}
.cart-card-left img{
    width: 180px;
    object-fit: contain;

}
.cart-quantity{
    cursor: pointer;
}
.cart-quantity div{

    padding-left: 1%;
    border: 3px solid rgb(213, 206, 206);
    border-radius:8px;
}

.cart-right{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: max-content;
  
}
.price{
    padding:5%;
    display: flex;
    flex-direction: column;
    gap:0.8rem;

}
.price h6{
    font-size:20px;
}
.price p{
    font-size: 16px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.total{
    padding:3%;
    background-color: rgb(200, 199, 199);
    border-radius:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.proceed{
    margin-top:1rem;
}

@media (max-width: 768px) {
    
    .empty-cart >img{
        width: 100%;
    }
    .cart-card{
        flex-direction: column;
    }
    .cart-card-left img{
        width:150px;
        object-fit: contain;
        margin-left: 29%;
    }
    .cart-quantity{
        margin-left:1%;
    }
}