.footer{
    margin-top: 5%;
}
.logo img{
    height: 32px;
}
.icon{
    font-size: 40px;
}
.head{
    background-color: #FAFAFA;
    height: 145px;
    align-items: center;
}

.links{
    width: 100px;
    color:black;
}

.tail{
    height: 74px;;
    background-color:#FAFAFA;
    color:#737373;
    padding-left: 195px;
    padding-top: 25px;

}
@media (max-width: 768px)
{
    .head{
        height: 100px;
    }
    .tail{
    padding-left: 0;
    }
    .icon{
        font-size:30px;
    }
}