.similar-products{
    width:100%;
    height: max-content;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom:5%;
}
.similar-products-list{
    margin-top: 3rem;
    overflow: auto;
    overflow-y: hidden;
    display: flex;
    gap: 3rem;

}
.similar-products-item{
    display: inline-block;

}

.about span{
    font-weight: bold;
}
.about p{
font-size: 30px;
}

@media screen and (max-width:800px){ 

    .about p{
        font-size:15px;
        }
        
}