.signup{
    height: 600px;
}
#sign-img{
    width: 550px;
    height: 500px;

}

.otp-card{
    padding:3%;
    margin-top:8%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-width: 350px;
    height: 290px;
    display: flex;
    flex-direction: column;

}

@media(max-width:789px){
    #sign-img{
       display: none;
    }
    .controls {
        width: 100%;
    }
}
