.product-layout{
    margin-top: 2rem;
}
.product-list{
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 1%;

}
.product-filters
{
    height: max-content;
}

.dropdown-items
{
    width:95%;
    height: max-content;
    margin-left:10%;
    margin-bottom: 30px;
    padding:15px;
    transition: all 0.4s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
    border: 1px solid rgb(240, 212, 212);
    
}

input[type="checkbox"] {
        width: 22px;
        height: 20px;
      }
.check >span{
    margin-left:9px;
     font-size: 21px;
}
.check{
    margin-top:1rem;
}

.not_found{
    margin: 20%;
    margin-left:30%;
}
@media screen and (max-width: 768px){

    .dropdown-items{
        margin-left: 1%;
        margin-bottom:10px;
        width: 100%;

    }
    .product-list{
        margin:1%;
    
    }
} 
    
