.wishlist{

height: 569px;
overflow-y: scroll;
scrollbar-width: none;
}
.murali{
 
    display: flex;
    gap: 2rem;
    padding: 2%;
    flex-direction: column;
}


.wl-cart{
    padding: 3%;
    display: flex;
    gap: 3rem;
 
}

.img img{

    width: 200px;
    height: 200px;
}
.img h5{
    width: 200px;
    font-size: 20px;
}
.img{
    display: flex;
    flex-direction: column;
   align-items: center;
   cursor: pointer;
}
.details span{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
@media (max-width:789px){
    .wl-cart{
        flex-direction: column;
        padding: 5%;
        align-items: center;

    }

}