.categories{
    margin-top:5%;
    margin-bottom:10%;
    display: flex;
    justify-content: space-around;
    gap:2rem;
    cursor: pointer;
}


.category-iteM >img{
    width: 270px;
    border-radius: 50%;
    object-fit: contain;

}
.category-iteM {
    transition:transform 2s;
}
.category-iteM ~h4{
    text-align: center;
    margin-top: 1rem;
    text-transform: capitalize;
}
.category-iteM:hover{
    transform: scale(1.1);

}

@media screen and (max-width:650px) {
    .categories{
        gap: 1em;

    }
    .category-iteM >img{
        width:80%;
    }
    .category-iteM ~h4{
        font-size:0.8em;
    }
}