.categories{
    height: 250px;
    margin-top: 5rem;
    margin-bottom:  5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap:5rem;
}


.category-iteM >img{
    width: 270px;
    border-radius: 50%;

}
.category-iteM {
    transition:transform 2s;

}
.category-iteM >h3{
    text-align: center;
    margin-top: 1rem;
}
.category-iteM:hover{
    transform: scale(1.1);

}