#root {
  --red:black;

}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
user-select: none;

}
.containe{ 
  width: 100%;
}



.Ai{
  position: fixed;
  right:10px;
  /* bottom:5%;  */
  font-size:80px;
}

@media (max-width:650px) {

  .Ai{
    font-size:60px;

  }
  
}